<h2>Congratulations, your account is now fully activated!</h2>

<p>
	Your godfather <%= @user.godfather_email %> has just activated your account.
</p>

<p>
	Now you can log in to the plateform by following the link below :</br>
	<a href="http://www.wouldyouhelp.me/">http://www.wouldyouhelp.me/</a>
</p>

--
<br/>
Welcome buddy !
<br/>

<p>
WouldYouHelp.Me Notifier System<br/>
Admin : tracy.loisel@onwild.com (France)<br/>
Ecologeek / Europe-Ecologie
</p>