<h2>Please, validate your e-mail</h2>

<p>
	To complete your account activation, please follow the link below to confirm your email address :<br/>
	<a href="http://www.wouldyouhelp.me/email_activation/<%= @user.email_activation_code %>">
		http://www.wouldyouhelp.me/email_activation/<%= @user.email_activation_code%>
	</a>
</p>

--
<br/>
Best regards,
<br/>

<p>
WouldYouHelp.Me Notifier System<br/>
Admin : tracy.loisel@onwild.com (France)<br/>
Ecologeek / Europe-Ecologie
</p>
