<h1>Editing assets</h1>

<% form_for(@assets) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @assets %> |
<%= link_to 'Back', assets_path %>
