
<div id="create_post">
<h1>
	<%= link_to_function "Ask or Share something with Everybody" do |page|
				page.visual_effect	:toggle_slide, :form_new_post, :duration => 0.3
			end %>
</h1>
</div>

<div id="feeds_list">
	<%= render :partial => "post", :collection => @posts %>
</div>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
 
<head> 
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" /> 
  <title>Backpack: Welcome</title> 
 
  <link href="http://asset3.backpackit.com/stylesheets/cache/all.css?1284151692" media="screen" rel="stylesheet" type="text/css" /><noscript><style type="text/css">#Header, #Wrapper, #Container, #modal_container, .modal_container { display: none }</style></noscript> 
  <link href="http://asset3.backpackit.com/stylesheets/print/application.css?1284151692" media="print" rel="stylesheet" type="text/css" /> 
  <!--[if IE]><link href="http://asset0.backpackit.com/stylesheets/ie/application.css?1284151692" media="screen" rel="stylesheet" type="text/css" /><![endif]--> 
  
  <style type="text/css" title="Color scheme"> 
    a:link, a:visited,
    div.widget a.existing_comments_icon {
      color: #1d5fc2;
    }
 
    div.global_header {
      background: #3185c5;
    }
 
    div.tab_container a:link,
    div.tab_container a:visited,
    div.tab_container ul li a.current:hover {
      color: #ffffff;
    }
 
    div#Sidebar div#Pages div.pagesnav a:link,
    div#Sidebar div#Pages div.pagesnav a:visited {
      color: #1d5fc2;
    }
 
    div.widget_bar a:link,
    div.widget_bar a:visited,
    table.messages th.post_a_new_message a {
      color: #2391e6;
    }
  </style> 
 
 
 
  <script type="text/javascript"> 
//<![CDATA[
function async(f) { async.f.push(f) }; async.f = []
//]]>
</script> 
  
  
</head> 
 
<body class="full_width welcome" id="body"> 
 
<noscript> 
  <div class="javascript_disabled_notification"> 
    <div class="inner"> 
      <h1>You need to change a setting in your web browser</h1> 
      <p>Backpack requires a browser feature called <strong>JavaScript</strong>. All modern browsers support JavaScript. You probably just need to change a setting in order to turn it on.</p> 
 
      <p>Please see: <a href="http://www.google.com/support/bin/answer.py?answer=23852">How to enable JavaScript in your browser</a>.</p> 
 
      <p>If you use ad-blocking software, it may require you to allow JavaScript from backpackit.com.</p> 
 
      <p>Once you've enabled JavaScript you can <a href="">try loading this page again</a>.</p> 
 
      <p>Thank you.</p> 
    </div> 
  </div> 
</noscript> 
 
 
 
 
 
  <link href="http://asset3.backpackit.com/stylesheets/signal_id/welcome.css?1281383696" media="screen" rel="stylesheet" type="text/css" /> 
 
  <div id="first_signin_shade"></div> 
  <div id="first_signin" class=""> 
    <div class="fs_top"></div> 
    <div class="first_signin_contents"> 
      <h2> 
        
          You're all set, Tracy. Thanks!
        
      </h2> 
      <p>You may want to bookmark this page so you can come back to it later. We've also sent you an email with a link to get back here. </p>      
      
      <a href="#" onclick="$('first_signin_shade').hide();$('first_signin').hide(); return false;"><img alt="First_signin_button" src="http://asset2.backpackit.com/images/signal_id/first_signin_button.png?1281383696" /></a> 
      <script type="text/javascript"> 
//<![CDATA[
var thirtySevenSiloTrackerId = "UA-1876445-4";
//]]>
</script><script src="https://37signals.com/ga.js" type="text/javascript"></script><script type="text/javascript"> 
//<![CDATA[
          function trackSuccessfulSignup() {
            var product = 'backpack';
            var plan    = 'free';
            var price   = '0';
 
            var timeObj     = new Date;
            var unixTimeMs  = timeObj.getTime();
            var unixTime    = parseInt(unixTimeMs / 1000);
            var orderID     = masterTracker._visitCode() + '-' + unixTime;
 
            masterTracker._addTrans(
            	orderID, // order ID - required
            	product, // affiliation or store name
            	price    // total - required
            );
 
            masterTracker._addItem(
            	orderID,  // order ID - required
            	"signup", // SKU
            	product,  // product name
            	plan,     // category or variation
            	price,    // unit price - required
            	"1"       // quantity - required
            );
 
            masterTracker._trackTrans();
          }
          
          if (window.addEventListener) {
          	window.addEventListener('load', trackSuccessfulSignup, false);
          } else if (window.attachEvent) {
          	window.attachEvent('onload', trackSuccessfulSignup);
          }
 
//]]>
</script> 
    </div> 
  </div> 
 
 
 
<div class="global_header"> 
  <div class="tab_container"> 
    <ul class="tabs"> 
  
    <li><a href="/welcome" class="current">Welcome</a></li> 
  
  <li><a href="/newsroom" class="">Newsroom</a></li> 
  <li><a href="/pages/last" class="">Pages</a></li> 
  <li><a href="/calendar" id="calendar_tab"><span>Calendar</span></a></li> 
  <li><a href="/reminders">Reminders</a></li> 
  <li><a href="/writeboards">Writeboards</a></li> 
  <li><a href="/journal_entries" class="false">Journal</a></li> 
</ul> 
 
 
  <ul id="account_links"> 
    
      <li><a href="/account/color_scheme" class="">Settings</a></li> 
      
        <li><a href="/users">Users</a></li> 
      
      
        <li><a href="/account">Account</a></li> 
      
    
    <li><a href="/users/520215/edit">My info</a></li> 
    <li><a href="/session" onclick="var f = document.createElement('form'); f.style.display = 'none'; this.parentNode.appendChild(f); f.method = 'POST'; f.action = this.href;var m = document.createElement('input'); m.setAttribute('type', 'hidden'); m.setAttribute('name', '_method'); m.setAttribute('value', 'delete'); f.appendChild(m);var s = document.createElement('input'); s.setAttribute('type', 'hidden'); s.setAttribute('name', 'authenticity_token'); s.setAttribute('value', 'BVRAA2oPBlWfefTwmvNw53GtoiRWZEi8z6eK876iqOc='); f.appendChild(s);f.submit();return false;">Sign out</a></li> 
  </ul> 
 
 
  </div> 
</div> 
 
 
<div id="Wrapper"> 
  <div class="fix_width"> 
 
  
 
<div id="Container"> 
 
  <div id="Main"> 
    
    <div class="page_header"> 
  <div class="close"><a href="/welcome" onclick="var f = document.createElement('form'); f.style.display = 'none'; this.parentNode.appendChild(f); f.method = 'POST'; f.action = this.href;var m = document.createElement('input'); m.setAttribute('type', 'hidden'); m.setAttribute('name', '_method'); m.setAttribute('value', 'delete'); f.appendChild(m);var s = document.createElement('input'); s.setAttribute('type', 'hidden'); s.setAttribute('name', 'authenticity_token'); s.setAttribute('value', 'BVRAA2oPBlWfefTwmvNw53GtoiRWZEi8z6eK876iqOc='); f.appendChild(s);f.submit();return false;">Stop showing this Welcome tab</a></div> 
  <h1>Welcome to Backpack! </h1> 
</div> 
    <div class="inner"> 
      
 
 
 
 
<p class="intro">Welcome! Here's a look at the tools in your Backpack. Click a tab above to get started!</p> 
 
<div style="background: #ffc; padding: 10px;"> 
<table class="features"> 
  <tr class="first"> 
    <td> 
      <h2>Newsroom</h2> 
      <h3> 
        
          Post messages and see what's new
        
      </h3> 
      <p><a href="http://backpackit.com/demos/newsroom/" target="_blank">Watch a video</a></p> 
      <p> 
        
          Post messages and see the Latest Activity log to know what everyone on the account has been up to.
        
      </p> 
    </td> 
    <td> 
      <h2>Pages</h2> 
      <h3>Organize your information</h3> 
      <p><a href="http://backpackit.com/demos/create_page/" target="_blank">Watch a video</a></p> 
      <p>Quickly combine text, images, files, checkbox lists and more to organize and share your important information.</p> 
    </td> 
    <td class="last"> 
      <h2>Calendar</h2> 
      <h3>Put your schedules in one place</h3> 
      <p><a href="http://backpackit.com/demos/cal/" target="_blank">Watch a video</a></p> 
      <p>Your simple color-coded group calendar makes it easy to keep everyone's schedules coordinated in one place.</p> 
      </td> 
  </tr> 
  <tr class="last"> 
    <td> 
      <h2>Reminders</h2> 
      <h3>Remember everything</h3> 
      <p><a href="http://backpackit.com/demos/reminders/" target="_blank">Watch a video</a></p> 
      <p>Never forget. Reminders go to your cell phone or email and they take only seconds to create.</p> 
    </td> 
    <td> 
      <h2>Writeboards</h2> 
      <h3>Write with a version history</h3> 
      <p><a href="http://backpackit.com/tour#writeboards" style="background: none; padding: 0;" target="_blank">See a Writeboard</a></p> 
      <p>Writeboards are text documents that save a new version each time you make a change. You can jump back to any version or compare two versions.</p> 
    </td> 
    <td class="last"> 
      <h2>Journal</strong></h2> 
      <h3>Log anything on a timeline</h3> 
      <p><a href="http://backpackit.com/demos/journal/" target="_blank">Watch a video</a></p> 
      <p>Set your status to indicate where you are or what you're doing. Add entries to log work, personal milestones, or any information you want to keep over time.</p> 
    </td> 
  </tr> 
</table> 
</div> 
 
 
 
  <table class="below_features"> 
    <tr> 
      <td colspan="2"> 
        <p>You can also...</p> 
      </td> 
    </tr> 
      <td style="width: 33%;"> 
        <div class="you_can_also"> 
          <h2><a href="/account/color_scheme">Change your colors</a></h2> 
          <p>Choose colors that suit your style.</p> 
        </div> 
      </td> 
      <td style="width: 66%; padding-left: 25px;"> 
        <div class="you_can_also"> 
          
            <h2><a href="/users">Bring other people into your account</a></h2> 
            <p>Backpack really shines with a group. Create user accounts for your team members so you can use Backpack together.</p> 
          
        </div> 
      </td> 
    </tr> 
  </table> 
 
 
 
    </div> 
  </div> 
 
  <div id="BottomShadow"> 
    
    &nbsp;</div> 
 
</div> 
 
 
<div id="Footer"> 
  <a class="image" href="http://backpackit.com"><img alt="Backpack logo" height="41" id="Logo" src="http://asset1.backpackit.com/images/footer-logo.gif?1284151692" width="49" /></a> 
  <div> 
    <p> 
      <span class="admin"> 
        <a href="http://backpackit.com/help/?e=dHJhY3kubG9pc2VsQG9ud2lsZC5jb20%3D&amp;u=aHR0cDovL3Rlc3R5b3VwaS5iYWNrcGFja2l0LmNvbS93ZWxjb21l&amp;n=dGVzdHRyYWN5&amp;f=VHJhY3kgTE9JU0VM" target="_blank">Help/support</a> | <a target="_blank" href="http://productblog.37signals.com/">Product blog</a> | <a target="_blank" href="https://answers.37signals.com/backpack">Backpack Q&amp;A</a></span> 
    </p> 
    <p> 
      Backpack is a service of <a href="http://37signals.com" target=_blank>37signals.</a>&nbsp;&nbsp;
      <span class="admin"> 
        <a href="http://backpackit.com/privacy.html" target="_blank">Privacy Policy</a> | <a href="http://backpackit.com/terms.html" target="_blank">Terms of Service</a> 
      </span> 
    </p> 
  </div> 
</div> 
 
 
 
</div> 
</div> 
 
<script src="http://asset3.backpackit.com/sprockets.js?1284151637" type="text/javascript"></script> 
 
</body> 
</html> 
